<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Experience</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap}"
          rel="stylesheet">

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

</head>

<body>

<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a th:href="@{/}" class="logo d-flex align-items-center">
            <h1>Experience<span>.</span></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>

<main id="main">

    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Experiences</h2>
                        <p>Experiences available in this tour.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{/}">Home</a></li>
                    <li>Tours</li>
                    <li th:text="${tour.name}"></li>
                </ol>
            </div>
        </nav>
        <div class="alert alert-secondary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>

    <section class="sample-page">
        <div th:switch="${experiences}" class="container" data-aos="fade-up">
            <div class="col-lg-12">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="experience : ${experiences}">
                        <td th:text="${experience.name}"></td>
                        <td th:text="${experience.description}"></td>
                        <td th:text="${experience.price}"></td>
                        <td th:text="${experience.destination.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="" class="logo d-flex align-items-center">
                    <span>Experience</span>
                </a>
                <p>Whenever wherever you want to go.</p>
            </div>

            <div class="col-lg-2 col-6">
            </div>

            <div class="col-lg-2 col-6">
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Student Info</h4>
                <p>
                    Katedra za softversko inzenjerstvo<br>
                    Fakultet organizacionih nauka<br>
                    Univerzitet u Beogradu<br><br>
                    <strong>student:</strong> Radojicic Sandra<br>
                    <strong>mentor:</strong> Milos Milic<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Experience</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed with <a href="https://bootstrapmade.com/">Thymeleaf & Bootstrap</a>
        </div>
    </div>

</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>